@{
    ViewData["Title"] = "Home Page";
}
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="~/images/blackboard.jpg" class="d-block w-100" alt="blackboard image">

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>School Management System</h1>
          </div>
        </div>
      </div>

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->